
    p{
        padding:10px;
    }
    div{
        padding-left:5px;  
        padding-right:5px;       
    }

    *{
        box-sizing:border-box;
    }

    #para1 , #para2, #para3{
        background-color: rgb(169, 209, 214);
        width: 320px;
        height: 150px;
        border:1px solid black;
    }
    #title1 ,#title2 ,#title3
    {
        text-align: center;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        width:25%;
    }

    #title1{
        background-color: #eb68f0;   
    } 
    #title2{
        background-color: rgb(243, 109, 109);
    }
    #title3{
        background-color: rgb(226, 247, 154);
    }

    /*       Mobile phones      */
    @media(max-width:767px) {
        h1{
            text-align: center;
        }

        #para1, #para2, #para3{
            width:94%;
            height: 230px;
            margin-bottom: 20px;
        }
        #title1, #title2, #title3{
           width: 27%;
            position: relative;
            margin-left:70%;
        }
    }

    /*   Tablet Mode     */
    @media(min-width:768px) and (max-width: 991px) {
        h1{
            text-align: center;
        }
        div{
            float:left;
            margin-left:30px;
        }
        
        #para1, #para2{
            width:40%;
            height: 140px;
            margin-bottom: 20px;
        }
        #para3{
            width:84%;    /*323 px*/
            height: 110px;
            clear:left;
            margin-bottom: 20px;
        }
        #title1,#title2{
            width:19.5%;
            position: relative;
            margin-left:82%;
        }
        #title3{
            width: 18.7%;
            position: relative;
            margin-left:82%;
        }

    }

    /*     Desktop      */

    @media(min-width:992px){
        h1{
            text-align: center;
        }
        div{
            float:left;
            margin-left:30px;
        }

        #para1, #para2, #para3{
            width:28%;    /*323 px*/
            height: 140px;
        }
        #title1, #title2 ,#title3{
            width: 19.5%;
            position: relative;
            margin-left:82%;
        }

    }